run = "python3 -m pip install robotpy"
modules = ["python-3.11"]
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python3 -m pip install robotpy"]

[[ports]]
localPort = 1735
externalPort = 80

[[ports]]
localPort = 5810
externalPort = 3000
